

<div class="title-container">
    <h1 class="main-title">Spacestagram</h1>
</div>

<div class="content-container">
    <div class="card">
        <h1 class="title" id="title0"></h1>
        <app-loader class="loading"></app-loader>
  
        <div class="img-cont">
        <img class="picture" id="image0">
        </div>

        <div class="content-textbox">
            <p class="description" id = "content0"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date0"></p>

            <!-- <button class="like" id="like0" (click)="likeButton('#like0') "> ♡ </button> -->
            <button class="like" (click)="likeButton()">♡</button>
        </div>

        <p id="user0" class="author"></p>   

    </div>  

    <div class="card">
        <h1 class="title" id="title1"></h1>
        <app-loader class="loading"></app-loader>
    
        <div class="img-cont">
        <img class="picture" id="image1">
        </div>
        
        <div class="content-textbox">
            <p class="description" id = "content1"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date1"></p>

            <!-- <p class="like" id="like1" onclick='changeButton("like1")'>♡</p>     -->
            <button class="like" (click)="likeButton()">♡</button>

        </div>

        <p id="user1" class="author"></p>


    </div>

    <div class="card">
        <h1 class="title" id="title2"></h1>
        <app-loader class="loading"></app-loader>
    
        <div class="img-cont">
            <img class="picture" id="image2">
        </div>

        <div class="content-textbox">
            <p class="description" id = "content2"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date2"></p>

            <button class="like" (click)="likeButton()">♡</button>
        </div>

        <p id="user2" class="author"></p>

    </div>
    

 </div>

 
<!-- Second row -->

<div class="content-container2">
    <div class="card">
        <h1 class="title" id="title3"></h1>
        <app-loader class="loading"></app-loader>
    
        <div class="img-cont">
            <img class="picture" id="image3">
        </div>

        <div class="content-textbox">
            <p class="description" id = "content3"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date3"></p>

            <button class="like" (click)="likeButton()">♡</button>
        </div>
        <p></p>

        <p id="user3" class="author"></p>


    </div>

    <div class="card">
        <h1 class="title" id="title4"></h1>
        <app-loader class="loading"></app-loader>
    
        <div class="img-cont">
            <img class="picture" id="image4">
        </div>

        <div class="content-textbox">
            <p class="description" id = "content4"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date4"></p>

            <button class="like" (click)="likeButton()">♡</button>
        </div>

        <p id="user4" class="author"></p>


    </div>

    <div class="card">
        <h1 class="title" id="title5"></h1>
        <app-loader class="loading"></app-loader>
    
        <div class="img-cont">
            <img class="picture" id="image5">
        </div>
        <div class="content-textbox">
            <p class="description" id = "content5"></p>
        </div>

        <div class="info-flex">
            <p class="date" id="date5"></p>

            <button class="like" (click)="likeButton()">♡</button>
            <!-- ❤️ -->
        </div>

        <p id="user5" class="author"></p>


    </div>
    

 </div>

 <!-- <footer class="foot"> Created by <b>Terry Ju</b> for the <b>Shopify Frontend Challenge</b></footer> -->
    <!-- <li *ngFor="let item of lis">
        {{item}}
    </li> -->

<span class="body-background"></span>